.main-content1 {
    min-width: 650px;
    width: 100%;
    height: 510px;
    /*padding:30px 0 0 0px;*/
    z-index: -2;
    border: 1px solid #96959a;
    /*border-radius: 2px;*/
    background-color: #1a1a1a;
}
.innerContent {
    overflow: hidden;
    width: 100%;
    height: 87%;
    position: relative;
    background-image: url('../imgs/back.jpg');
    background-size: cover;
    background-position: 50% 50%;
    margin-bottom: 20px;
}
iframe{

    /*margin-right: 60px;*/
    /*display: none;*/
    /*width: 470px;*/
    /*height: 330px;*/
    width: 800px;
    height: 550px;

    /*position: absolute;*/
    /*left: 97px;*/
    /*top: 100px;*/
    /*z-index: -1;*/
}
.innerimg img:first-child {
    margin-left: -60px;
}
.innerimg img{
    width: 470px;
    height: 330px;
    opacity: 1;
    z-index: 1000;
    margin-right: 40px;
    padding: 3px;
    background-color: #777;
    position: relative;
}
#play-full-story {
}
#play-full-story div:first-child {
    margin-left: -60px;
}
#play-full-story div {
    width: 464px;
    height: 0;
    z-index: 1001;
    margin-right: 46px;
    margin-top: 5px;
    position: relative;
    background-color: rgba(0,0,0,0.5);
    float: left;
    top: -86px;
    left: 3px;
    color: #d6d6dc;
    overflow: hidden;

    transition: height 1s, top 1s;
    -moz-transition: height 1s, top 1s;	/* Firefox 4 */
    -webkit-transition: height 1s, top 1s;	/* Safari 和 Chrome */
    -o-transition: height 1s, top 1s;	/* Opera */
}
#play-full-story div span {
    margin-left: 5px;
    font-family: "Microsoft YaHei";
    font-size: 12px;
}
.innerimg {
    cursor: pointer;
    position: absolute;
    left: 89px;
    top: 50px;
    -webkit-transform: translate(68px);
    transform: translate(68px);
    -moz-transform: translate(68px);
    -o-transform: translate(68px);

    /*-webkit-animation:myfirst 2s;*/
}
.img-current{
    opacity: 1;
    cursor: pointer;
}
.div_imgpre{
    cursor:pointer;
    position: relative;
    width: 30px;
    height: 55px;
    top: 100px;
    border: solid 0px #ffffff;
    float: left;
    background: #222222;
    opacity: 0.5;
    z-index: 1;
}
.div_imgnext {
    cursor: pointer;
    position: relative;
    width: 30px;
    height: 55px;
    border: solid 0px #ffffff;
    background: #222222;
    opacity: 0.5;
    float: right;
    top: -180px;
    right: -20px;
}
/*#img2 {*/
    /*width: 450px;*/
    /*height: 325px;*/
    /*margin-left: 40px;*/
/*}*/
#imgpre {
    position: relative;
    left: 10px;
    top: 180px;
    float: left;
    width: 28px;
    height: 40px;
    z-index: 1;
    /* margin-top: 135px; */
    /* margin-left: 10px; */
    /*opacity: 0.5;*/
}
#imgnext {
    position: relative;
    float: right;
    top: 180px;
    right: 10px;
    width: 28px;
    height: 40px;
    z-index: 1;
    /*opacity: 0.5;*/
    /* margin-left: 662px; */
    /* margin-top: -468px; */
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}
.pre {
    width: 20px;
    height: 20px;
    float: left;
    margin-right: 10px;
    margin-top: -4px;
    /*display: inline;*/
    /*position: absolute;*/
    /*left: 36%;*/
    /*top: 90%;*/
}
.next{
    width: 20px;
    height: 20px;
    float: left;
    margin-left: 14px;
    margin-top: -4px;
    /*display: inline;*/
    /*position: absolute;*/
    /*right: 38.2%;*/
    /*top: 90%;*/
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}
.pre:hover {
    cursor: pointer;
}
.next:hover {
    cursor: pointer;
}
#imgpre:hover {
    opacity: 1;
    cursor: pointer;
}
#imgnext:hover {
    opacity: 1;
    cursor: pointer;
}
.mybtn {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #666;
    border: 0;
    opacity: 0.6;
    position: absolute;
    top: 175px;
    left: 290px;
    z-index: 1;
}
.ol_nav {
    list-style-type: none;
    margin-left: 30%;
    margin-top: -15px;

}
.ol_nav li {
    float: left;
    border: 1px solid #555;
    margin-left: 4px;
    width: 16px;
    height: 10px;
    background-color: #444444;
    /*margin-top: 3px;*/
}
.ol_nav li:hover {
    /*border: 1px solid #222;*/
    background-color: #5f5f5f;
    cursor: pointer;
}
/*.ol_nav .cover{*/
    /*width: 25px;*/
    /*height: 17px;*/
    /*border: 1px solid #ffffff;*/
    /*background-color: transparent;*/
    /*float: left;*/
    /*z-index: -1;*/
/*}*/

.hover-style {
    background-color: #5f5f5f;
    width: 19px;
    height: 11px;
}
.btnplay {
    font-size: 30px;
    font-weight: bold;
    color: #000000;
}

#article-title {
    margin-left: -50px;
    float: left;
    font-family: "Microsoft YaHei";
}

#article-title div {
    display: inline-block;
    width: 470px;
    margin-right: 40px;
    /*margin-top: 15px;*/
    color: #888;
    font-family: "Microsoft YaHei";
    font-size: 12px;
}
#article-title div p{
    display: block;
    font-size: 16px;
    word-wrap: break-word;
    white-space: normal;
    font-family: "Georgia";
    margin-bottom: 0px;
    margin-top: 10px;
}

.modal-backdrop.in {
    opacity: 0.6;
}


.modal-videotitle {
    color: #ffffff;
    position: absolute;
    left: 30px;
    font-family: "Georgia";
    font-size: 16px;
}
.cover {
    width: 22px;
    height: 16px;
    /*float: left;*/
    border: 1px solid #666;
    /*position: relative;*/
    /*top: -3px;*/
    /*left: 41.3%;*/
    background-color: transparent;
    /*position: relative;*/
    /*top: -2px;*/
    /*padding-top: 2px;*/
}
/*#videoModal .modal-body{*/
    /*position: absolute;*/
    /*top: -100px;*/

/*}*/

